@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// Colors
$background-color: #508991;
$primary: #D4AF37;
$accent1: #000000;
$accent2: #ffffff;

// Text
$fonts-body: "Montserrat", sans-serif;
$fonts-headline: "Playfair Display", serif;
$text-dark: #333;
$text-light: #fff;

//screen sizes
$mobile:425px;

$shadow-elevation-high: -7px 7px 10px 2px hsl( 0deg 0% 20% / 1);
$shadow-elevation-left: 7px 7px 10px 3px hsl(0deg 0% 20% / 1);